/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(263, 64%, 48%);
  --first-color-alt: hsl(263, 64%, 44%);
  --border-color: hsl(0, 0%, 45%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 4%);
  --container-color: hsl(0, 0%, 8%);

  /*========== Font and typography ==========*/
  --body-font: "Syne", sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}