@media (min-width: 540px) {
  .login {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

@media (min-width: 1150px) {
  .login {
    grid-template-columns: initial;

    &__content {
      display: grid;
      grid-template-columns: 360px 480px;
      column-gap: 7rem;
      padding: 1.5rem 1.5rem 1.5rem 7rem;
      border-radius: 4rem;
    }

    &__img {
      display: block;
      width: 480px;
      border-radius: 3rem;
    }

    &__image {
      overflow: hidden;
      border-radius: 3rem;
    }
  }
}